<hr>
<p>
    &copy; 2019 <br/>
    Disclaimer: The BAC calculator is meant for educational purposes only. 
    <br>
    The BAC calculator and information generated from it is not intended to replace 
    <br>
    the medical advice of your doctor or health care provider and should not be relied upon; 
    <br>
    nor do the BAC calculator or information generated from it constitute legal advice.
</p>
</body>