<head>
    <title> Add Drink </title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body{
    	    background-color: darkgray;
    	}
    	.jumbotron{
    	    background-color: lightBlue;
    	}
    </style>

</head>
<body>
    <div class="jumbotron text-center">
        <h1>Add Drink</h1>
    </div>
    <br>
    <div>
           
            Drink name: <input id="drinkName" type="text" name="drinkName"value=""><br>    
            Alcohol Content: <input id="ac" type="number" name="alcontent" value=""><br>  
            Type of Drink : <select id="tester" name="drinkType">
                    <option value="">Select One</option>
                    <option value="beer">Beer</option>
                    <option value="wine">Wine</option>
                    <option value="mixed">Mixed Drink</option>
                    <option value="misc">Misc Drink</option>
                    <option value="shot">Shot</option>
            </select>
            
            
           
          
            
            <br><br>
            <button type="button" class="btn btn-primary" id="createButton">Create</button>
            <button type="button" class="btn btn-primary" id="cancelButton">Cancel</button>
            
            <div id="hiddenMessage">Drink Created</div>
        
    </div>
    
    <script>
        /* global $ */
        //console.log()
        $(document).ready(function(){
            $("#hiddenMessage").hide();
            
            $("#cancelButton").on("click",function() {
               window.location.href = "/home";
            });
            
            
            
            $("#createButton").on("click", function() {
                $.ajax({
                    type: "POST",
                    url: "/addDrink",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "name": $("#drinkName").val(),
                        "al_content": parseFloat($("#ac").val()),
                        "typeAL": $("#tester").val()
                    }),
                    success: function(result, status) {
                        if(result.successful) {
                            $("#hiddenMessage").show();
                            
                        }
                    }
                }); //ajax
            }); //button
            
        });
        
        
        
        
    </script>
    
    
</body>