<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
		.login{
			color: black;
			background:grey;
			top: 0;
			right: 0;
			position: fixed;
		}
		.btn{
			height: 50px;
			width: 100px;
		}
		.minus{
			color: black;
			height: 50px;
			width: 75px;
		}
		button{
			color: black;
		}
		.add{
			color:black;
			height: 50px;
			width: 75px;
		}
		body{
			 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/beer_img.jpg");
			filter: blur(0px);
			  /* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			
		}
		input{
			color:black;
		}
		.non_background { 
			filter: blur(0px)!important;
			 /*background-color: rgb(0,0,0); /* Fallback color */
 	 	/*	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
			  color:white !important;
			  font-weight: bold;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  z-index: 2;
			  width: 100%;
			  height: 100%;
			  padding: 70px;
			  text-align: center;
		}
		tr{
			color:white!important;
		}
		
	</style>
</head>

<body>
		{{!--Modal Stuff--}}
    <div class="modal fade" id="drinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h1 id="DrinkOptions"></h1></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
                <div id="drinkNames"></div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{!--End Of Modal Stuff--}}
	<div class = "background"></div>
	
	<div class = "non_background">
	<login class = "login">
		<button id = "login" type="button"  class='btn pull-right'>
			Login
		</button><br>
	</login>
	<button id ="change_background">
		change background image
	</button>

	<form method="POST">
	    <div class="form-group row">
		    <label class="col-lg-3 col-form-label form-control-label">Type</label><br>
		    <div class="col-lg-9">
		        <select name="type" id="type" value="Select type" class="form-control" size="0">
		            <option name=" "></option>
		            <option name="beer" value="beers"> Beer </option>
		            <option name="shots" value="shots"> Shots </option>
		            <option name="wine" value="wine"> Wine </option>
					<option name="mixed_drinks" value="mixed_drinks"> Mixed Drinks </option>
		            <option name="misc_drinks" value="misc_drinks"> Other </option>
		        </select>
		    </div>
		    <input type="text" class="form-control" id="name" name="name" placeholder="Name of Drink" required="required">
		    <input type="text" class="form-control" id="per" name="per" placeholder="Percentage of alcohol" required="required">
			<div class="form-group">
				<button type="submit" id="searchButton" class="btn btn-success btn-lg btn-block">Search</button>
			</div>
		</div>
	</form>
	
      {{image}}
      {{rows}}
      
	<bac >
		current bac is 
		<total id = "total"><b>___</b></total><b>%</b>
	</bac>
	</h1>
	<h2 class="container" >
		<table class = "col" id = "drinks">
			<tr class="row" >
				Beer<br>
				<input id = "beer" size="4" placeholder = 0 maxlength = 3></input>
			</tr><br>
			<tr class="row top-buffer">
				Wine<br>
				<input id = "wine" size="4" placeholder = 0 maxlength = 3></input>
			</tr><br>
			<tr class="row top-buffer">
				Other<br>
				<input id = "alcohol" size="4" placeholder = 0 maxlength = 3></input>
			</tr><br>
			<tr>
			
			</tr>
		</table>
			<br>
				<button id = "add_drinks" >
					add new drink
				</button >
		<br>
		<br>
		<weight>
				Enter Weight 
		<input id = "weight"></input>
		</weight><br><br>
		<gender>
				Select Gender
				<select name="gender" value="" size="0">
                    <option name=" "> Select </option>
                    <option name="P" value="P"> Prefer Not To Specify*</option>
                    <option name="F" value="F"> Female </option>
                    <option name="M" value="M"> Male </option>
                </select>
		</gender><br><br>
		<time> 
			Enter amount of hours since first drink
			<input id ="time"></input>
		</time>
			<br><button id = "calc">calculate</button>
	</h2>
	</div>
</body>
<script>
	beer = 0;
	wine = 0;
	other = 0;
	total = 0;
	// weight = 0;
	time = 0;
	number_of_rows = 1
	$('#calc').on("click",calc);
    function calc(){
    	let result = 0;
    	let weight = 0;
    	let ethanol = 0;
    	let oz = 0;
    	
		beer = $("#beer").val() *12;   
		wine = $("#wine").val()*5;
		other = $("#alcohol").val() *1.5; 
		weight = $("#weight").val();
		
		
		if($("#"))
		
		time = $("#time").val();
		// total = ((beer+wine+other))/weight; 
		// total = total-(time*.017);
		
		oz = beer + wine + other;
		ethanol = (12 + 5 + 1.5)/3;
		
		result = (150/weight)*(ethanol/50)*oz*0.025;
		
		$("total").text(result);
    }
    $('#login').on("click",sign_in);
    function sign_in(){
    	location.href = "/login";
    }
    $('#change_background').on('click',change_background)
    function change_background(){
    	let link = "";
    	$.ajax({
                type: "POST",
                url: "/new_image",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
			    	"name" :"Beer"
                }),
                success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                       console.log(result);
                 	link = result.hits[Math.floor(Math.random() * 20)].largeImageURL;
                 	console.log(link);
                 	   t = " linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("+'\"'+link+'\"'+")";
            		console.log(t);
    				$("body").css("background", t);
                   }
            });
         
    }
	//call add function for new drinks 
	$('#loginButton').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/login",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "username": $("#login").val(),
                    "password": $("#password").val()
                }),
                success: function(result, status) {
                    console.log("got login status back", result);

                    if (result.successful) {
                        window.location.href = '/';
                        return false;
                    }
                    else {
                        // Show an error message or something and stay here
                        $('#errorMessage').show();
                        console.log("error");
                    }
                }
            });
        });
    $("#searchButton").on('click',function(e) {
    	e.preventDefault();
    	 $("#drinkNames").empty();

        $.ajax({
                type: "POST",
                url: "/search_types",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                	"type": $("#type").val(),
			    	"name" :$("#name").val(),
			    	"per" : $("#per").val()
                }),
                success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<div id=" + i.toString() + "><h2>"+ result[i].name  +"</h2></div>" + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
            });

    })
</script>
