<head>
	 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<style>
		table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#log-inout{
  background-color:grey;
 position: fixed;
 height:40px;
 width:60px;
  right: 30px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  position: fixed;
  right: 30px;
  top:-20px;
  font-size: 80px;
  font-weight: bold;
  color: #f1f1f1;
}
	</style>
</head>
<body>
    	<button  id = "log-inout">Logout</button>
      <br>
      
    	invitation Link	<input id ="link"></input>
    	<br>
    	<br>
    	
    	<table id = "table">
    	 <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>Duration</th>
        <th>Booked by </th>
        <th>ID</th>
        <th><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">+</button></th>
      </tr>
    
    </table>
     
    <div id="id01" class="modal">
      <form class="modal-content">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <div class="container">
      <h1>ADD TIME SLOT</h1>
      <hr><br>
      <label for="Date"><b>Date</b></label>
      <input type="date"  name="Date" id ="Date" required>
        <br>
      <label for="Time"><b>Start Time</b></label>
      <input type="time"  name="Start Time" id="Time" required>
  <br>
      <label for="End Time"><b>Duration in hours</b></label>
      <input type="int" name="End Time" id ="End_Time" required>
  <br>
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="ADD_button" id = "ADD_button">Add</button>
      </div>
    </div>
    </form>
      </div>

    <div id="id02" class="modal">
      <form class="modal-content">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="Remove" id = "remove">Yes, Remove It!</button>
      </div>
    </div>
    </form>
      </div>
    
    
    
      
</body>
	
<script>
selected = -1
	var modal = document.getElementById('add_slot');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    
    
   $("#remove").on("click",del)
    function del(){
      console.log($("#Time"+selected.toString()).text());
        $.ajax({
                type: "POST",
                url: "/remove_page",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
			    	      "name" :"admin",
			    	      "start_date":$("#Date"+selected.toString()).text(),
			    	      "start_time":$("#Time"+selected.toString()).text()
                }),
                success: function(result,status) {
                  document.getElementById('id01').style.display='none'
                   }
            });
    }
    
    
    $("#ADD_button").on("click",sub)
    function sub(){
      
       $.ajax({
                type: "POST",
                url: "/add_page",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
			    	      "name" :"admin",
			    	      "start_date":$("#Date").val(),
			    	      "start_time":$("#Time").val(),
			    	      "duration": $('#End_Time').val()
                }),
                success: function(result,status) {
                  document.getElementById('id01').style.display='none'
                   }
            });
    }
    function setter(w){
      console.log("worked:",w);
      selected =w;
    }
    loadpage("admin");
    function loadpage(name){
        $.ajax({
                type: "POST",
                url: "/load_page",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
			    	"name" :"admin"
                }),
                success: function(result,status) {
                  console.log(result.length);
                   for( i = 0 ; i <result.length;i++){
                      $("#table").append(
                        "<tr >"+"<th id = Date"+i.toString()+">"+result[i].start_date.slice(0, 10)+"</th>"+
                      "<th id = Time"+i.toString()+">"+result[i].start_time.slice(0, 10) +"</th>"+
                      "<th>"+result[i].Duration+" hour</th>"+
                      "<th>"+result[i].booked_by+"</th>"+
                      "<th><look>"+i+"</look></th>"+
                      "<th><button onclick = document.getElementById('id02').style.display='block';setter("+i.toString()+")>Delete</button> <button>Details</button></th>"+"</tr>");
                   //console.log(selected.toString());
                     
                   }
                   
                   }
            });
    }
    
</script>