<head>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<style>
		.login{
			color: black;
			top: 0;
			right: 0;
			position: fixed;
		}
		.btn{
			height: 50px;
			width: 100px;
		}
		.minus{
			color: black;
			height: 50px;
			width: 75px;
		}
		button{
			color: black;
		}
		.add{
			color:black;
			height: 50px;
			width: 75px;
		}
		body{
			 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/beer_img.jpg");
			filter: blur(0px);
			  /* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			
		}
		input{
			color:black;
		}
		.non_background { 
			filter: blur(0px)!important;
			 /*background-color: rgb(0,0,0); /* Fallback color */
 	 	/*	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
			  color:white !important;
			  font-weight: bold;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  z-index: 2;
			  width: 100%;
			  height: 100%;
			  padding: 70px;
			  text-align: center;
		}
		tr{
			color:white!important;
		}
		
	</style>
</head>

<body>
	<div class = "background"></div>
	
	<div class = "non_background">
	<login class = "login">
		<button id = "login" type="button"  class='btn pull-right'>
			Login
		</button>
	</login>
	<h1 class=" text-center" >
		<bac >
			current bac is 
			<total id = "total"><b>___</b></total><b>%</b>
		</bac>
	</h1>
	<h2 class="container" >
		<table class = "col" id = "drinks">
			<tr class="row" >
				Beer<br>
				<button class = "minus" id ="minus_beer">-</button>
				<input id = "beer" size="4">0</input>
				<button class = "add" id ="add_beer">+</button>
			</tr><br>
			<tr class="row top-buffer">
				Wine<br>
				<button class = "minus" id ="minus_wine">-</button>
				<input id = "wine" size="4">0</input>
				<button class = "add" id ="add_wine">+</button>
			</tr><br>
			<tr class="row top-buffer">
				Other<br>
				<button class = "minus" id ="minus_other">-</button>
				<input id = "alcohol" size="4">0</input>
				<button class = "add" id ="add_other">-</button>
			</tr><br>
			<tr>
			
			</tr>
		</table>
			<br>
				<button id = "add_drinks" >
					add new drink
				</button >
		<br>
		<weight class="row top-buffer">
			<br>
				Enter Weight 
		<input id = "weight"></input>
		</weight><br>
		<time> 
			Enter amount of hours since first drink
			<input id ="time"></input>
		</time>
			<br><button id = "calc">calculate</button>
	</h2>
	</div>
</body>
<script>
	$('#add_beer').on("click",add_drink("#beer"));
	$('#minus_beer').on("click",minus_drink("#beer"));
	$('#add_wine').on("click",add_drink("#wine"));
	$('#minus_wine').on("click",minus_drink("#wine"));
	function minus_drink(type){
		tmp = parseInt($(type).val());
		tmp--;
		console.log(tmp);
		console.log("clicked");
		$(type).text(tmp);
	}
	function add_drink(type){
		tmp = parseInt($(type).val());
		tmp++;
		$(type).text(tmp);
	}
	beer = 0;
	wine = 0;
	other = 0;
	total = 0;
	weight = 0;
	time = 0;
	number_of_rows = 1
	$('#calc').on("click",calc);
    function calc(){
		beer = $("#beer").val() *12;   
		wine = $("#wine").val()*5;
		other = $("#alcohol").val() *1.5; 
		weight = $("#weight").val();
		time = $("#time").val();
		total = ((beer+wine+other))/weight; 
		total = total-(time*.017);
		$("total").text(total);
    }
    $('#login').on("click",sign_in);
    function sign_in(){
    	location.href = "/login";
    }
	//call add function for new drinks 
	$('#loginButton').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/login",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "username": $("#login").val(),
                    "password": $("#password").val()
                }),
                success: function(result, status) {
                    console.log("got login status back", result);

                    if (result.successful) {
                        window.location.href = '/';
                        return false;
                    }
                    else {
                        // Show an error message or something and stay here
                        $('#errorMessage').show();
                        console.log("error");
                    }
                }
            });
        });
    
</script>
