<head>
    <title> Home Page </title>
</head>
<body>
    This is the home page for users who are logged in
    <a href = "/userInfo">
        <button>
            Profile
        </button>
    </a>
</body>