<head>
    <title> Home Page </title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <style>
        .inputs{
            width: 100px;
            height: 40px;
			padding: 5px;
			margin: 5px;
        }
		.profile{
			position: sticky;
		  	bottom: 0;
			
		}	
		.middle{
			
		}
		.trace{
			padding:50px;
			color: blue;
			background:light-blue;
		}
		.time{
		    left:50%;
		}
    </style>

</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome, {{user}}, to the Home Page</h1>
        <text>This is the home page for users who are logged in</text><br>
        current BAC is <h2><total></total></h2>
    </div>

    <br>
    <div class="container d-flex justify-content-center" style = "width: 100px;">
        <div class="row">
            <div class="col-sm-6">
                <button id = "beer" class = "inputs btn btn-primary">BEER</button>
                <br>
    		    <button id = "wine" class = "inputs btn btn-primary">WINE</button>
                <br>
                <button id = "shots" class = "inputs btn btn-primary">SHOTS</button>
                <br>
    		    <button id = "misc" class = "inputs btn btn-primary">MISC</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button id = "mixed" class = "inputs btn btn-primary">MIXED</button>
                <br>
                <button id = "smth" class = "inputs btn btn-primary">smth</button>
                <br>
                <button id = "add_drink" class = "inputs btn btn-primary">ADD NEW</button>
                <br>
                <button id = "remove_drink" class = "inputs btn btn-primary">REMOVE</button>
            </div>
        </div>
    </div>
    <br><br>
    <div class = "container d-flex flex-column">
        <div class = "d-flex flex-column text-center">
            <a href = "/logout">
                <button id = "logout" class = "inputs btn btn-primary">
                    Log Out
                </button>
            </a>
            <br>
            <a href = "/userInfo?user={{user_data.username}}">
                <button id = "profile" class = "inputs btn btn-primary">
                    Profile
                </button>
            </a>
            <br>
            <a>
                <button id = "Edit_profile" class = "inputs btn btn-primary">
                    Edit Profile
                </button>
            </a>
        </div>
    </div>
	
    {{!--Modal Stuff--}}
    <div class="modal fade" id="drinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h1 id="DrinkOptions"></h1></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
                <div id="drinkNames"></div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{!--End Of Modal Stuff--}}
    
    {{!--"<div id=" + result[i].name + ">"+ result[i].name  +"</div><button type='button' class='btn btn-secondary editDrink'>Edit</button> " --}}
</body>
<script>
    let time = 0.0;
    
        /* global $ */
        $(document).ready(function(){
            $("#Edit_profile").on("click", function() {
                window.location.href = "/editUserInfo?user={{user_data.username}}";
            })
            $("#beer").on("click", function() { 
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Beers");
               $.ajax({
                   method: "GET",
                   url: "/getBeer",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<div id=" + result[i].name + "><h2>"+ result[i].name  +"</h2></div><button type='button' class='btn btn-secondary editDrink'>Edit</button> <button type='button' class='btn btn-danger deleteDrink'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
													   
			$("#wine").on("click", function() {
			    $("#drinkNames").empty();
			    $("#exampleModalLabel").html("List of Wines");
               $.ajax({
                   method: "GET",
                   url: "/getWine",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                         $("#drinkNames").append("<div id=" + result[i].name + "><h2>"+ result[i].name  +"</h2></div><button type='button' class='btn btn-secondary editDrink'>Edit</button> <button type='button' class='btn btn-danger deleteDrink'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
	
													   
            $("#mixed").on("click", function() {
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Mixed Drinks");
               $.ajax({
                   method: "GET",
                   url: "/getMixed",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<div id=" + result[i].name + "><h2>"+ result[i].name  +"</h2></div><button type='button' class='btn btn-secondary editDrink'>Edit</button> <button type='button' class='btn btn-danger deleteDrink'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
            
			$("#misc").on("click", function() {
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Misc Drinks");
               $.ajax({
                   method: "GET",
                   url: "/getMisc",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<div id=" + result[i].name + "><h2>"+ result[i].name  +"</h2></div><button type='button' class='btn btn-secondary editDrink'>Edit</button> <button type='button' class='btn btn-danger deleteDrink'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
            
            $("#shots").on("click", function() {
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Shots");
               $.ajax({
                   method: "GET",
                   url: "/getShots",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<div id=" + result[i].name + "><h2>"+ result[i].name  +"</h2></div><button type='button' class='btn btn-secondary editDrink'>Edit</button> <button type='button' class='btn btn-danger deleteDrink'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
            let time = 0.0;
    
			function update_time(){
				time = time+.25;
				recalc();
				setTimeout(update_time(), 900000);
			}
			$('#calc').on("click",recalc);
			function recalc(){
				beer = $("#beer").val() *12;   
				wine = $("#wine").val()*5;
				other = $("#alcohol").val() *1.5; 
				weight = $("#weight").val();
				time = $("#time").val()+time;
				total = ((beer+wine+other))/weight; 
				total = total-(time*.017);
				$("total").text(total);
			}
            
													   
			function openForm() {
			  document.getElementById("myForm").style.display = "block";
			}

			function closeForm() {
			  document.getElementById("myForm").style.display = "none";
			}
        });

    

</script>

