<head>
    <title> Home Page </title>
	    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        .inputs{
            width: 100px;
            height: 40px;
        }
		.profile{
			position: sticky;
		  	bottom: 0;
			
		}	
    </style>
</head>
<body>
    This is the home page for users who are logged in
    <br>
    {{user}} is logged in{{user_data.username}}
    <a href = "/userInfo?username={{username}}">
        <button>
            Profile
        </button>
    </a>
    <a href = "/logout">
        <button>
            Log Out
        </button>
    </a>
	<br>
	<button id = "time" class = "inputs">Time</button>
	    <table> 
			<tr>
				<th><button id = "beer" class = "inputs">BEER</button></th>
				<th><button id = "wine" class = "inputs">WINE</button>	</th>
				<th><button id = "add_drink" class = "inputs">NEW DRINK</button></th>
			</tr>
			<tr>
				<th><button id = "shots" class = "inputs">SHOTS</button></th>
				<th><button id = "mixdrinks" class = "inputs">MIXED DRINKS</button></th>					
				<th><button id = "remove_drink" class = "inputs">REMOVE DRINK</button><th>
			</tr>
	</table>
	<button class = "profile btn btn-primary btn-lg">Edit Profile</button>
</body>
<script>
    let time = 0.0;
    
    function update_time(){
        time = time+.25;
        recalc();
        setTimeout(update_time(), 900000);
    }
    $('#calc').on("click",recalc);
    function recalc(){
        beer = $("#beer").val() *12;   
		wine = $("#wine").val()*5;
		other = $("#alcohol").val() *1.5; 
		weight = $("#weight").val();
		time = $("#time").val()+time;
		total = ((beer+wine+other))/weight; 
		total = total-(time*.017);
		$("total").text(total);
    }
</script>