<head>
    <title> Home Page </title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <style>
        .inputs{
            width: 100px;
            height: 40px;
			padding: 5px;
			margin: 5px;
        }
		.profile{
			position: sticky;
		  	bottom: 0;
			
		}	
		.middle{
			
		}
		.trace{
			padding:50px;
			color: blue;
			background:light-blue;
		}
		.time{
		    left:50%;
		}
		/*body{*/
		/*    background-color: darkgray;*/
		/*}*/
		.jumbotron{
		    font-family: Arial;
		    font-weight: bold;
		    color: white;
		    background-color: #82D1F6;
		}
		.btn-primary{
		    background-color: #82D1F6 !important;
		}
		#beer, #wine, #shots, #mixed, #misc, #add{
		    height: 200px;
		    width:200px;
		}
    </style>

</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome, {{user}}, to the Home Page</h1>
        <text>This is the home page for users who are logged in</text><br>
        current BAC is <h2><total id = "total"><b>___</b></total><b>%</b></h2>
    </div>
    <br>
    <div class="container d-flex justify-content-center" style = "width: 100px;">
        <div class="row">
            <div class="col-sm-6">
                <input type="image" id = "beer" value = "0" src="336_BeerButton.png" />
                <br>
                <input type="image" id = "wine" value = "0" src="336_WineButton.png" />
                <br>
                <input type="image" id = "shots" value = "0" src="336_ShotsButton.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="image" id = "mixed" value = "0" src="336_MixedDrinkButton.png" />
                <br>
                <input type="image" id = "misc" value = "0" src="336_MiscButton.png" />
                <br>
                <a href = "/addDrink">
                    <input type="image" id = "add" src="336_AddDrinkButton.png" />
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class = "container d-flex flex-column">
        <div class = "d-flex flex-column text-center">
            <a href = "/logout">
                <button id = "logout" class = "inputs btn btn-primary">
                    Log Out
                </button>
            </a>
            <a href = "/userInfo?user={{user_data.username}}">
                <button id = "profile" class = "inputs btn btn-primary">
                    Profile
                </button>
            </a>
            <a href = "/cst_336">
                <button id = "dashboard" class = "inputs btn btn-primary">
                    Calculate BAC
                </button>
            </a>
            <button id = "reports" class = "inputs btn btn-primary">
                Get Reports
            </button>
        </div>
    </div>

{{!--end of background--}}

{{!--Modal Stuff--}}
<div class="modal fade" id="drinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h1 id="DrinkOptions"></h1></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
            <div id="drinkNames"></div>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    
    {{rows.name}}
</div>
{{!--End Of Modal Stuff--}}

{{> footer}}

<script>
    let time = 0.0;
    let beer = 0;
    let wine = 0;
    let shots = 0;
    let mixed = 0;
    let misc = 0;
    
    // $("#beer").on("click", calc(), function(){
    //     let count = $("#beer").val() + 1;
    //     $("#beer").attr("value", count);
    // });
    // $("#wine").on("click", calc());
    // $("#shots").on("click", calc());
    // $("#mixed").on("click", calc());
    // $("#misc").on("click", calc());
    
    function calc(){
    	let result = 0;
    	let weight = 0;
    	let ethanol = 0;
    	let oz = 0;
    	
    	console.log("beer", $("#beer").val());
    	
		beer = $("#beer").val() *12;   
		wine = $("#wine").val()*5;
		misc = $("#alcohol").val() *1.5; 
		weight = $("#weight").val();
		
		oz = beer + wine + shots + mixed + misc;
		if(beer > 0){
			ethanol = ethanol + 5;
		}
		if(wine > 0){
			ethanol = ethanol + 12;
		}
		if(misc > 0){
			ethanol = ethanol + 8;
		}
		if(shots > 0){
			ethanol = ethanol + 40;
		}
		if(mixed > 0){
			ethanol = ethanol + 12;
		}
		
		result = (150/weight)*(ethanol/50)*oz*0.025;
		time = $("#time").val();
		
		if(time > 5){
		    result = 0;
		}else{
		    for(let i = 0; i < time; i++){
    		    result = result * 0.065;
    		}
		}
		
		
		$("total").text(result.toPrecision(2));
    }
    
        /* global $ */
        $(document).ready(function(){
            $("#beer").on("click", function() { 
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Beers");
               $.ajax({
                   method: "GET",
                   url: "/getBeer",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<h2>"+ result[i].name + " - " + result[i].al_content + "%" +"</h2><button id=" + result[i].id + " type='button' class='editBeer btn btn-secondary'>Edit</button> <button id=" + result[i].id + " type='button' class='btn btn-danger deleteBeer'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
													   
			$("#wine").on("click", function() {
			    $("#drinkNames").empty();
			    $("#exampleModalLabel").html("List of Wines");
               $.ajax({
                   method: "GET",
                   url: "/getWine",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                         $("#drinkNames").append("<h2>"+ result[i].name + " - " + result[i].al_content + "%" +"</h2><button id=" + result[i].id + " type='button' class='editWine btn btn-secondary'>Edit</button> <button id=" + result[i].id + " type='button' class='btn btn-danger deleteWine'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
	
													   
            $("#mixed").on("click", function() {
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Mixed Drinks");
               $.ajax({
                   method: "GET",
                   url: "/getMixed",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<h2>"+ result[i].name + " - " + result[i].al_content + "%" +"</h2><button id=" + result[i].id + " type='button' class='btn btn-secondary editMixed'>Edit</button> <button id=" + result[i].id + " type='button' class='btn btn-danger deleteMixed'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
            
			$("#misc").on("click", function() {
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Misc Drinks");
               $.ajax({
                   method: "GET",
                   url: "/getMisc",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<h2>"+ result[i].name + " - " + result[i].al_content + "%" +"</h2><button id=" + result[i].id + " type='button' class='btn btn-secondary editMisc'>Edit</button> <button id=" + result[i].id + " type='button' class='btn btn-danger deleteMisc'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
            
            $("#shots").on("click", function() {
                $("#drinkNames").empty();
                $("#exampleModalLabel").html("List of Shots");
               $.ajax({
                   method: "GET",
                   url: "/getShots",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<h2>"+ result[i].name + " - " + result[i].al_content + "%" +"</h2><button id=" + result[i].id + " type='button' class='btn btn-secondary editShots'>Edit</button> <button id=" + result[i].id + " type='button' class='btn btn-danger deleteShots'>Delete</button> " + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
            
            $(document).on('click', '.editBeer', function () {
                window.location.href = "/editBeer?id=" + this.id;
            });
            
            $(document).on('click', '.editWine', function () {
                window.location.href = "/editWine?id=" + this.id;
            });
            
            $(document).on('click', '.editMixed', function () {
                window.location.href = "/editMixed?id=" + this.id;
            });
            
            $(document).on('click', '.editMisc', function () {
                window.location.href = "/editMisc?id=" + this.id;
            });
            
            $(document).on('click', '.editShots', function () {
                window.location.href = "/editShots?id=" + this.id;
            });
            
            $(document).on('click', '.deleteBeer', function () {
                if(confirm("Delete Beer?")) {
                    window.location.href = "/deleteBeer?id=" + this.id;
                }
            });
            
            $(document).on('click', '.deleteWine', function () {
                if(confirm("Delete Beer?")) {
                    window.location.href = "/deleteWine?id=" + this.id;
                }
            });
            
            $(document).on('click', '.deleteMisc', function () {
                if(confirm("Delete Beer?")) {
                    window.location.href = "/deleteMisc?id=" + this.id;
                }
            });
            
            $(document).on('click', '.deleteMixed', function () {
                if(confirm("Delete Beer?")) {
                    window.location.href = "/deleteMixed?id=" + this.id;
                }
            });
            
            $(document).on('click', '.deleteShots', function () {
                if(confirm("Delete Beer?")) {
                    window.location.href = "/deleteShots?id=" + this.id;
                }
            });


            
            let time = 0.0;
    
			function update_time(){
				time = time+.25;
				recalc();
				setTimeout(update_time(), 900000);
			}
			$('#calc').on("click",recalc);
			function recalc(){
				beer = $("#beer").val() *12;   
				wine = $("#wine").val()*5;
				misc = $("#alcohol").val() *1.5; 
				weight = $("#weight").val();
				time = $("#time").val()+time;
				total = ((beer+wine+misc))/weight; 
				total = total-(time*.017);
				$("total").text(total);
			}
            
													   
			function openForm() {
			  document.getElementById("myForm").style.display = "block";
			}

			function closeForm() {
			  document.getElementById("myForm").style.display = "none";
			}
        });

    

</script>

