<head>
    <title> Home Page </title>
</head>
<body>
    This is the home page for users who are logged in
    <br>
    {{user.username}} is logged in
    <a href = "/userInfo?username={{username}}">
        <button>
            Profile
        </button>
    </a>
    <a href = "/logout">
        <button>
            Log Out
        </button>
    </a>
</body>