<head>
    <title> Home Page </title>

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <style>
        .inputs{
            width: 10px;
            height: 40px;
        }
    </style>

</head>
<body>
    This is the home page for users who are logged in
    <br>
    {{user}} is logged in{{user_data.username}}
    <a href = "/userInfo?username={{username}}">
        <button>
            Profile
        </button>
    </a>
    <a href = "/logout">
        <button>
            Log Out
        </button>
    </a>

    
    <button type="button" class="btn btn-primary" id="testButton"> Test </button>
    
    
    <!-- Modal -->
    <div class="modal fade" id="drinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h1 id="DrinkOptions"></h1>List of Beers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
                <div id="drinkNames"></div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--- End of Modal -->
    
    
    <script>
        /* global $ */
        $(document).ready(function(){
            
            $("#testButton").on("click", function() {
               
               $.ajax({
                   method: "GET",
                   url: "/getBeer",
                   dataType: "json",
                   success: function(result,status) {
                       console.log(result);
                       //$("#drinkNames").html(result[0].name);
                      for(let i = 0; i < result.length; i++) {
                          $("#drinkNames").append("<button id=" + result[i].al_content + "type='button' class='btn btn-info beerselect'>" + result[i].name + "</button>" + '<br><br>');
                      }
                       $("#drinkModal").modal("show");
                   }
               }); //ajax
            }); //button
            
            
            
            
            
        });
    </script>
    

	    <inputs> <button id = "weight" class = "inputs"></button>
    <button id = "beer" class = "inputs"></button>
    <button id = "wine" class = "inputs"></button>
    <button id = "alcohol" class = "inputs"></button>
    <button id = "time" class = "inputs"></button></inputs>
</body>

 <script>

    let time = 0.0;
    
    function update_time(){
        time = time+.25;
        recalc();
        setTimeout(update_time(), 900000);
    }
    $('#calc').on("click",recalc);
    function recalc(){
        beer = $("#beer").val() *12;   
		wine = $("#wine").val()*5;
		other = $("#alcohol").val() *1.5; 
		weight = $("#weight").val();
		time = $("#time").val()+time;
		total = ((beer+wine+other))/weight; 
		total = total-(time*.017);
		$("total").text(total);
    }

</script>

