<head>
    <title> User Info </title>
</head>
<body>
    <h1> Personal Information </h1>
    
    Age: 
    
    Height:
    
    Weight:
    
    Gender:
    
    <a href = "/home">
        <button>
            Home
        </button>
    </a>
    
</body>